components/cxfrs/src/main/resources/META-INF/xsd/BooksTO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
        attributeFormDefault="unqualified"
        elementFormDefault="qualified"
        targetNamespace="http://components.camelatwork.com/model/to"
        xmlns:xs="http://www.w3.org/2001/XMLSchema">



  <xs:complexType name="bookTOType">
    <xs:sequence>
      <xs:element name="title" type="xs:string" minOccurs="1" maxOccurs="1" />
      <xs:element name="chapter" type="to:chapterTOType" minOccurs="0" maxOccurs="unbounded"  xmlns:to="http://components.camelatwork.com/model/to"/>
    </xs:sequence>
    <xs:attribute type="xs:string" name="id" use="required"/>
  </xs:complexType>


  <xs:complexType name="chapterTOType">
    <xs:sequence>
      <xs:element name="title">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Chapter 1"/>
            <xs:enumeration value="Chapter 2"/>
            <xs:enumeration value="Chapter 3"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
    <xs:attribute type="xs:string" name="chapterId" use="optional"/>
  </xs:complexType>

  <xs:complexType name="booksTOType">
    <xs:sequence>
      <xs:element name="bookTO" type="to:bookTOType" minOccurs="1" maxOccurs="unbounded"
                  xmlns:to="http://components.camelatwork.com/model/to"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="booksTO" type="to:booksTOType"
                  xmlns:to="http://components.camelatwork.com/model/to"/>

  <xs:element name="bookTO" type="to:bookTOType"
              xmlns:to="http://components.camelatwork.com/model/to"/>
</xs:schema>